.rounded-container {
  border-radius: 16px;
  overflow: hidden;
}

.bg-primary {
  background-color: #0958d9;
}

.text-primary {
  color: #0958d9;
}

.bg-secondary {
  background-color: #4096ff;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.bg-gray {
  background-color: #f3ede0;
}

.carousel-content {
  height: 400px;
  text-align: center;
}

.fullh {
  height: 100vh;
}

.fullw {
  width: 100vw;
}

.container-login {
  height: 500px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.gradient-bottom {
  background: linear-gradient(to bottom, #4096ff, #0958d9);
}

.gradient-right {
  background: linear-gradient(to right, #4096ff, #0958d9);
}

.button-login {
  padding-block: 10px;
}
